.injectionDiv {
    height: 720px;
    width: 1400px;
}

/* ut-code/school-festival/src/grobal.css */

html {
    overflow: hidden;
  }
  
  html, body, #root {
    width: 100%;
    height: 100%;
  }
  
  .blocklyPath {
    stroke: #444444 !important;
  }
  .blocklySelected .blocklyPath {
    stroke-width: inherit !important;
    stroke: #000000 !important;
  }
  .blocklyText {
    fill: #222 !important;
  }
  .blocklySelected .blocklyText {
    fill: #000 !important;
  }
  .blocklyFieldRect {
    fill: #fff !important;
    fill-opacity: 1 !important;
  }
  .blocklyDropDownDiv {
    border: 1px solid #aaa;
  }
  .blocklyDropDownDiv .blocklyDropDownArrow {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
  }
  .blocklyFlyout {
    border-right: 1px solid #ddd;
    background-color: #fff;
  }
  .blocklyFlyoutBackground {
    fill: transparent;
  }