html,
body,
#root {
  height: 100%;
}

body {
  margin: 0px;
}

:root {
  --divider-color: #ddd;
  overflow: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.blocklyPath {
  stroke: #444 !important;
}
.blocklySelected .blocklyPath {
  stroke-width: inherit !important;
  stroke: #000 !important;
}
.blocklyText {
  fill: #222 !important;
}
.blocklySelected .blocklyText {
  fill: #000 !important;
}
.blocklyFieldRect {
  fill: #fff !important;
  fill-opacity: 1 !important;
}
.blocklyDropDownDiv {
  border: 1px solid var(--divider-color);
}
.blocklyDropDownDiv .blocklyDropDownArrow {
  border-top: 1px solid var(--divider-color);
  border-left: 1px solid var(--divider-color);
}
.blocklyToolboxDiv {
  background-color: #fff;
  border-right: 1px solid var(--divider-color);
  width: 120px;
}
.blocklyTreeRow {
  margin: 0;
  padding: 8px 12px !important;
}
.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: #eee;
}
.blocklyTreeRow.blocklyTreeSelected {
  background-color: #ddd !important;
}
.blocklyTreeSelected .blocklyTreeLabel {
  color: inherit;
}
.blocklyFlyout {
  border-right: 1px solid #ddd;
  background-color: #fff;
}
.blocklyTreeIcon {
  display: none !important;
}
.blocklyFlyoutBackground {
  fill: transparent;
}
.link-container {
  display: flex;
  justify-content: space-around; /* or 'space-between' for more space between boxes */
  align-items: center;
  /*二個まで並んだら改行*/
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

}
.button {
  text-decoration: none;
  color: #fff; /* Change text color to white */
  background-color: #3498db; /* Set background color to a shade of blue */
  width: 300px;
  height: 200px;
  padding: 20px;
  border: none; /* Remove border */
  border-radius: 10px; /* Add rounded corners */
  text-align: center;
  margin: 10px;
  transition: background-color 0.3s; /* Add a smooth transition effect */

  /* Center the text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button:hover {
  background-color: #2980b9; /* Change background color on hover */
}